@media screen and (max-width: 1200px) {

    .container {
        margin: 0 10px;
    }



    .block_content_box {
        max-width: 460px;
        width: 100%;
    }
    .block_content_box:nth-child(2n+1) {
        margin-right: 10px;
    }
    .block_content_box:nth-child(2n) {
        margin-left: 10px;
    }
}
@media screen and (max-width: 962px) {
    
}

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 640px) {

    .container {
        margin: 0 20px;
    }


    .footer_input {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .footer_button {
        width: 100%;
        /* margin-left: 20px; */
    }
}

@media screen and (max-width: 599px) {
    
}