@media screen and (max-width: 1140px) {
    .sc_wrapper {
        width: auto;
        display: block;
    }

    .sc_right_col {
        width: 100%;
        margin-left: 0;
        margin-top: 26px;
    }
}
@media screen and (max-width: 962px) {
    body {
        display: block;
    }
    .sc_logo_box,
    .sc_top_title_box,
    .sc_social_box {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    .sc_top_title_box {
        width: auto;
        padding-bottom: 16px;
    }

    .sc_main_menu_box {
        overflow-x: auto;
    }
    .sc_main_menu_box ul {
        text-align: left;
        height: 54px;
        width: 960px;
        max-width: none;
    }

    .responsive-table {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
    }
}

@media screen and (max-width: 800px) {
    body{
        min-height: 100%;
    }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }
    .sc_logo_box {
        width: auto;
    }
    .sc_main_col {
        margin-bottom: 35px;
    }
    .sc_right_col {
        margin: auto;
    }
    .footer_menu {
        padding: 12px 0px;
    }
    .footer_menu a {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 540px) {
    .so_top_banner .b1 {
        display: none;
    }
    .so_top_banner .b2-m {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    table.so_ts_table, table.so_ts_table thead, table.so_ts_table tbody,
    table.so_ts_table th, table.so_ts_table tr, table.so_ts_table td{
        display: block;
        text-align: center;
    }
    table.so_ts_table td {
        border-bottom: 1px solid rgb(230, 245, 229);
    }
    table.so_ts_table td.clear_bg {
        display: none;
    }
    .sc_news img {
        width: 100%!important;
        max-width: 100%;
        object-fit: unset;
        height: auto;
        margin-bottom: 12px;
    }
    .sc_right_col {
        width: 100%;
    }
    .sc_right_col img {
        width: 100%;
    }
    .so_transport_schedule {
        position: relative;
        height: auto;
    }
    h2.so_ts_sticky {
        position: sticky;
        position: -webkit-sticky;
        background: #fff;
        top: 0;
    }
    .so_ts_subtitle {
        font-size: 17px;
        min-height: 56px;
        display: flex;
    }
    .mobile_hide {
        display: none;
    }
    .so_ts_sticky {
        align-items: center;
        justify-content: center;
    }

    .sc_top_subtitle {
        display: none;
    }
    .sc_top_town_title span {
        display: none;
    }
    .sc_top_town_title i {
        text-transform: capitalize;
    }
    .so_navigation {

    }

    /*Dev:*/
    .pg_info {
        display: block;
        min-height: 160px;
    }
    .pg_info_img_box {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .pg_info_text {
        text-align: center;
        margin-bottom: 5px;
    }

}