@font-face {
    font-family: Caveat-Regular;
    src: url(../lib/fonts/Caveat/Caveat-Regular.ttf);
}
body {
    font: 15px sans-serif;
}
a {
    text-decoration: none;
}

.img_box img {
    width: 150px;
    height: 150px;
}

.container {
    /* max-width: 1200px; */
    margin: 0 20px;
}

.flex_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex_csb {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

header {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 90px;
}

/* .img_box {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}*/
.img_box > img {
    border-radius: 50%;
    /* overflow: hidden; */
}


.name_box > h1 {
    font-family: Caveat-Regular;
    font-size: 52px;
}

.social_box {
    margin: 30px 0;
}
.social_box > a {
    color: #000000;
    font-size: 25px;
    margin: 0 7px;
}

/* Social Color Hover */
.social_box > a:hover:nth-child(1) {
    color: #3b5998;
    transition: .3s;
}
.social_box > a:hover:nth-child(2) {
    color: #1DA1F2;
    transition: .3s;
}
.social_box > a:hover:nth-child(3) {
    color: #ff0000;
    transition: .3s;
}
.social_box > a:hover:nth-child(4) {
    color: #4c75a3;
    transition: .3s;
}
.social_box > a:hover:nth-child(5) {
    color: #0088cc;
    transition: .3s;
}


.button_box {
    display: flex;
    max-width: 197px;
    max-height: 60px;
    margin: 60px auto 0 auto;
}

.button_box > a {
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 30px;
    color: #000000;
    padding: 20px 60px;
}
.button_box > a:hover {
    background: #000000;
    color: #ffffff;
    transition: .5s;
}


/* ----------MAIN--------- */
.main_title > h1 {
    text-align: center;
}

.block_content_box {
    max-width: 560px;
    width: 100%;
}
.block_content_box:nth-child(2n+1) {
    margin-right: 20px;
}
.block_content_box:nth-child(2n) {
    margin-left: 20px;
}

.block_img_box img {
    max-width: 560px;
    width: 100%;
}
.bio_box > p {
    width: 35%;
    margin: 0 auto;
}
.hcj {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.hcj > a {
    color: #000000;
    padding-left: 10px;
}
.hcj > a:hover {
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    transition: .5s;

}


/* Serteficate */
.serf_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: #f5f5f5;
}

.serf_gallery a {
    margin: 30px 20px;
}

.serf_gallery img {
    width: 250px;
    border: 2px solid black;
}
/* My Project */

.wrapper_my_project {
    width: 80%;
    margin: 0 auto;
}
.project h2 {
    color: #000000;
    text-decoration: underline;

}
.project {
    max-width: 300px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    margin: 20px 20px;
    padding: 15px;
}
.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 0% 90%;
}
.project_img {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.kursi a {
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

.kursi a:hover {
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
    transition: .5s;

}

/* ----------Footer---------- */

footer {
    text-align: center;
}
.footer_title > h2 {
    font-size: 36px;
    font-weight: 600;
}

.footer_from {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* max-width: 560px;
    width: 100%;

    margin-left: 20px;
    margin-right: 20px; */
    
}

.footer_input {
    width: 303px;
    height: 56px;
    border: 2px solid #000000;
    padding: 0 20px;
    font-size: 16px;
    margin-right: 20px;
}

.footer_button {
    width: 193px;
    height: 60px;
    border: 0 none;
    background: #000000;
    padding: 0 60px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.footer_line {
    /* margin-top: 78px; */
    margin-bottom: 58px;
}
.footer_line hr {
    max-width: 160px;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    height: 1px;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}






/* COLORS */

.cl_1 {
    color: #000000;
}

.bg_py {
    background:  #3776ab;
}
.bg_js {
    background: #f0db4f;
}
.bg_html {
    background: linear-gradient(90deg, #E44D26 0%, #F16529 100%);
}
.bg_css {
    background: linear-gradient(90deg, #264de4 0%, #2965f1 100%);
}