.sc_logo_box {
    width: 11%;
}
/*second_color:*/
.sc_second_color .sc_social_box a {
    background: #17d58f;
    background: -moz-linear-gradient(top, #17d58f 0%, #11ff97 100%);
    background: -webkit-linear-gradient(top, #17d58f 0%,#11ff97 100%);
    background: linear-gradient(to bottom, #17d58f 0%,#11ff97 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17d58f', endColorstr='#a7cfdf',GradientType=0 );
}
.sc_second_color .sc_main_menu_box {
    background: #17d58f;
    background: -moz-linear-gradient(top, #17d58f 0%, #11ff97 100%);
    background: -webkit-linear-gradient(top, #17d58f 0%,#11ff97 100%);
    background: linear-gradient(to bottom, #17d58f 0%,#11ff97 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17d58f', endColorstr='#a7cfdf',GradientType=0 );
}
/*.sc_main_menu_box_second_color .sc_main_menu > li > ul > li a:hover {*/
/*background: #17d58f;*/
/*background: -moz-linear-gradient(top, #17d58f 0%, #11ff97 100%);*/
/*background: -webkit-linear-gradient(top, #17d58f 0%,#11ff97 100%);*/
/*background: linear-gradient(to bottom, #17d58f 0%,#11ff97 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17d58f', endColorstr='#a7cfdf',GradientType=0 );*/
/*}*/
.sc_second_color .sc_main_menu > li > ul  {
    background: #11ff97;
    background: -moz-linear-gradient(top, #11ff97 0%, #17d58f 100%);
    background: -webkit-linear-gradient(top, #11ff97 0%,#17d58f 100%);
    background: linear-gradient(to bottom, #11ff97 0%,#17d58f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11ff97', endColorstr='#17d58f',GradientType=0 );
}
.sc_second_color .sc_main_footer {
    background: #11ff97;
    background: -moz-linear-gradient(top, #11ff97 0%, #17d58f 100%);
    background: -webkit-linear-gradient(top, #11ff97 0%,#17d58f 100%);
    background: linear-gradient(to bottom, #11ff97 0%,#17d58f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11ff97', endColorstr='#17d58f',GradientType=0 );
}
.news_next:hover {
    color: #17d58f;
    border-color: #17d58f;
}
.announcement_title,
.announcement_title a {
    color: #1fc588;
}
.so_main_title {
    color: #1fc588;
}
.so_mini_title {
    color: #1fc588;
}
.pg_mini_title a {
    color: #17d58f;
}