.so_ts_subtitle {
    margin-top: 22px;
    margin-bottom: 0;
}
.so_time_header #time{
    font-size: 30px;
}
.so_transport_schedule {
    text-align: center;
    font-size: 18px;
    font-family: 'Merriweather', serif;
}
.so_min_size {
    font-size: 11px;
    display: block;
}
.so_transport_schedule td {
    padding: 10px 14px;
}
.so_transport_schedule .so_ts_table {
    margin: 0 auto;
    min-width: 68%;
    margin-top: 22px;
}
.so_ts_table_first_type td{
    background: #aeddf9;
}
.so_ts_table_second_type td{
    background: #dfcae1;
}
td.clear_bg {
    background: transparent;
}
/*Current Time Color TD:*/
td.mark_time_1,
td.mark_time_2,
td.mark_time_3 {
    font-weight: 700;
}
td.mark_time_1 {
    background: #f90409;
    background: -moz-linear-gradient(left, #f90409 0%, #ed9304 100%);
    background: -webkit-linear-gradient(left, #f90409 0%,#ed9304 100%);
    background: linear-gradient(to right, #f90409 0%,#ed9304 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90409', endColorstr='#ed9304',GradientType=1 );
}
td.mark_time_2 {
    background: rgb(237,147,4);
    background: -moz-linear-gradient(left, rgba(237,147,4,1) 0%, rgba(149,187,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(237,147,4,1) 0%,rgba(149,187,0,1) 100%);
    background: linear-gradient(to right, rgba(237,147,4,1) 0%,rgba(149,187,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9304', endColorstr='#95bb00',GradientType=1 );
}
td.mark_time_3 {
    background: rgb(149,187,0);
    background: -moz-linear-gradient(left, rgba(149,187,0,1) 0%, rgba(5,104,0,1) 100%);
    background: -webkit-linear-gradient(left, rgba(149,187,0,1) 0%,rgba(5,104,0,1) 100%);
    background: linear-gradient(to right, rgba(149,187,0,1) 0%,rgba(5,104,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95bb00', endColorstr='#056800',GradientType=1 );
}
